<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Добро пожаловать</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/SmoothScroll.min.js"></script>
</head>
<body>
	<div class="bg-img">
		<!-- banner -->
		<div class="banner code-banner">
			<div class="container">
				<div class="header">
					<div class="logo">
						<h1><a href="/">Рассмотрите обувь тщательнее и почитайте</a></h1>
					</div>
					<div class="user-info">
						<p th:text="${user_info}"></p>
					</div>
					<div class="clearfix"> </div>
					<div class="top-nav">
						<nav class="navbar navbar-default">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
										data-target="#bs-example-navbar-collapse-1">Menu
								</button>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a href="/">На главную</a></li>
									<li><a href="/menu">Выбор обуви</a></li>
									<li><a href="/login" th:href="@{${login_btn}}" th:text="${login_text}">Вход</a></li>
									<div class="clearfix"> </div>
								</ul>	
							</div>	
						</nav>		
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //banner -->
	</div>
	<!-- single -->
	<div class="blog">
			<!-- container -->
			<div class="container">
				<div class="contact-heading">
					<h2>Детально про обувь
					</h2>
				</div>
				<div class="news-grids">
					<div class="col-md-8 blog-top-left-grid">
						<div class="left-blog left-single">
							<div class="blog-left">
								<div class="single-left-left">
									<h3 th:text="${shoes_detail.shoesname}">Утепленная обувь</h3>
									<p>Posted By Admin &nbsp; on 2019</p>
									<img src="images/n2.jpg" th:src="@{images/{pic_name}(pic_name=${shoes_pic})}" alt="">
								</div>
								<div class="blog-left-bottom">
									<p>
										&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${shoes_detail.description}"></span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 blog-top-right-grid">
						<div class="categories">
							<h3>Детали покупки</h3>
							<div class="container-detail">
								<ul>
									<li>
										Цена за единицу: ₴<!--/*@thymesVar id="food_detail" type=""*/-->
										<span th:text="${shoes_detail.price}">20.00</span>
										<span class="star" style="display:none;" th:style="${vip_hidden} ? 'display:none;' : (${shoes_detail.isvip} ? '' : 'display:none;')">
											<i class="fa fa-star" aria-hidden="true"></i> VIP
										</span>
									</li>
									<li>Скидка：<span th:text="${discount}">нет</span></li>
									<li>Ограничение по приобретению <span th:text="${shoes_detail.quantity}">200</span> пар</li>
								</ul>
							</div>
							<a href="/menu"><button type="button" class="btn btn-lg btn-warning">Вернуться на страницу заказа</button></a>
						</div>
						<div class="categories">
							<h3>Посмотреть другую обувь</h3>
							<ul class="marked-list offs1">
								<li><a href="shoes1" th:text="${all_shoes.get(0).shoesname}">Удообная обувь</a></li>
								<li><a href="shoes2" th:text="${all_shoes.get(1).shoesname}">Утепленная обувь</a></li>
								<li><a href="shoes3" th:text="${all_shoes.get(2).shoesname}">Защищенная, горная обувь</a></li>
								<li><a href="shoes4" th:text="${all_shoes.get(3).shoesname}">С хорошей вентиляцией</a></li>
								<li><a href="shoes5" th:text="${all_shoes.get(4).shoesname}">Для бега и прыжков</a></li>
								<li><a href="shoes6" th:text="${all_shoes.get(5).shoesname}">Для повседневной носки</a></li>
								<li><a href="shoes7" th:text="${all_shoes.get(6).shoesname}">Заниженная обувь</a></li>
								<li><a href="shoes8" th:text="${all_shoes.get(7).shoesname}">Комфортная обувь</a></li>
								<li><a href="shoes9" th:text="${all_shoes.get(8).shoesname}">Ультра модные</a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //container -->
	</div>
	<!-- //single -->
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="agileinfo">
				<p>Copyright &copy; 2019 SHAG and Sergii. All rights reserved.</p>
			</div>
		</div>
	</div>
	<!-- //copyright -->
</body>	
</html>